archives_dir=$HOME/Temp/pkg
build_base=$HOME/Temp/bld
install_base=/opt/gcckit/6.5.0
gcc_version=6.5.0
binutils_version=2.38
libdwarf_version=0.3.4
annobin_version=10.57
gcc_target_name=alma-linux
gcc_pkg_version="ele-alma8-build"
gcc_build_check=0
